version: '3.8'

services:
  api:
    build: .
    ports:
      - "3011:3011"
    environment:
      - PORT=3011
      - NODE_ENV=development
      - DOMAIN=${DOMAIN:-localhost}
      - CORS_ORIGIN=${CORS_ORIGIN:-*}
    env_file:
      - .env
    restart: always
    networks:
      - shared


networks:
  shared:
    external: true