version: '3.8'

services:
  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - NODE_ENV=development
      - DOMAIN=${DOMAIN:-localhost}
      - CORS_ORIGIN=${CORS_ORIGIN:-*}
    env_file:
      - .env
    restart: always
    networks:
      - shared


networks:
  shared:
    external: true